extends ../layout

block body
	h1 #{ appName } admin panel

	p #[a( href="/admin/panel" ) Admin home] &nbsp; #[a( href="/admin/add-player" ) + Add] &nbsp; #[a( href="/logout" ) Logout]

	h2 All players (#{ players.length })

	if players.length == 0
		p No players found
	else
		ul
			each player in players
				li #{ player.team } - #{ player.jerseyNum } - (#{ player.position }) #{ player.name } - #{ player.status } &middot; #[a( href="/admin/edit-player?id=#{ player._id }" ) edit] &middot; #[a( href="/admin/delete-player?id=#{ player._id }" ) delete]